<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<title>Scrape NPR</title>
</head>
<body>


	<div class="fluid-container" id="scraped">
		<div class="found-container text-center">
		
		</div>
	</div>

	<div class="container" id="header">
		<div class="row">
			<div class="col-md-12">
				<span><img src="assets/images/nprlogo1.png" id="logo"/></span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<span class="bottomright"><button type="button" class="btn btn-light" id="scrape">Scrape NPR</button></span>
			</div>
		</div>
	</div>

	{{{body}}}









	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>